body {
    background-image: url(./img/travel_amsterdam_4k_5k_hd_travel.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.link {
    text-decoration: none;
    color: #eeeeee;
    
}
.link:visited{
    text-decoration: none;
    color: #eeeeee;
}

.flag {
    width: 3rem;
    height: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    font-size: 1.2rem;
    width: 50rem;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead tr {
    background-color: #d83e17;
    color: #ffffff;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;

}

.table tbody tr {
    color: #eeeeee;
    border-bottom: 1px solid #dddddd;
    background: linear-gradient(rgba(100,100,100, 0.75),rgba(100,100,100, 0.75));
}

/* .table tbody tr:nth-of-type(even){
} */

.table tbody tr:hover{
    color:#e49988;
}
.table tbody tr td .link:hover{
    font-weight: bold;
    color:#e49988;
}

.select {
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #eeeeee;
    transition: all .2s ease-in-out;
    width: 8rem;
}

.select:hover {
    background-color: #dddddd;
    transform: scale(1.1);
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.selects {

    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 420px ) {
    body {
        background-image: url(https://i.pinimg.com/originals/22/75/97/2275978c0c80857bcff3016e619ae1c2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        width: 100%;
        max-width: 380px;
        height: 100%;
    }
    .container {
        width: 100%;
    }
    .all {
        width: 100%;
    }

    .table {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    .selects {
        flex-direction: column;
    }
}

@media screen and (max-width: 395px ) {
    body {
        background-image: url(https://i.pinimg.com/originals/22/75/97/2275978c0c80857bcff3016e619ae1c2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        width: 100%;
        max-width: 380px;
        height: 100%;
    }
    .container {
        width: 100%;
    }
    .all {
        width: 100%;
    }

    .table {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    .selects {
        flex-direction: column;
    }
}


@media screen and (max-width: 380px ) {
    body {
        background-image: url(https://i.pinimg.com/originals/22/75/97/2275978c0c80857bcff3016e619ae1c2.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        position: absolute;
        width: 100%;
        max-width: 380px;
        height: 100%;
    }
    .container {
        width: 100%;
    }
    .all {
        width: 100%;
    }

    .table {
        width: 100%;
    }

    .hidden {
        display: none;
    }
    .selects {
        flex-direction: column;
    }
}
